@import '../../../styles';

:host {
  flex: 1 1 calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @include container;
  padding: 32px 0;
  box-sizing: border-box;

  @include large {
    flex-direction: row;
  }
}

.product-page--image-container {
  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;
  flex: 1 1;

  img {
    position: absolute;
    object-fit: scale-down;
    box-sizing: border-box;
    object-position: top;

    aspect-ratio: 1 / 1;
  }
}

.product-page--title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;

  :first-child {
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  :not(:first-child) {
    font-size: 1.25rem;
    font-weight: 500;
    color: $muted-foreground;
  }

  @include large {
    text-align: left;
  }
}

.product-page--price {
  font-size: 1.75rem;
  font-weight: 700;
}

.product-page--description {
  color: $muted-foreground;
}

.product-page--details {
  flex: 0 0 520px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
