@import 'shop/src/styles';

.container {
  flex: 1 1;
  display: flex;
  flex-direction: column;


  @include shadow();
  border: 1px solid $border;
  border-radius: $radius;
  box-sizing: border-box;



  span {
    font-size: 1.125rem;
    font-weight: 600;
  }

  p {
    font-size: 0.875rem;
    color: $muted-foreground;
  }
}
