@import '../../../styles';

:host {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-link {
  color: $muted-foreground;


}

.nav-link:hover {
  color: $foreground;
  text-decoration: underline;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
