@import 'shop/src/styles';

.input {
  display: flex;
  height: 40px;
  width: 100%;


  border-radius: $radius;
  border: 1px solid $input;
  box-sizing: border-box;
  background: $background;
  padding: 8px 12px;
  font-size: 1rem;

  box-shadow: 0 0 0 1px $background;

  &::placeholder {
    color: $muted-foreground;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px $ring;

  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[type="file"] {
    appearance: none;
  }
}
