@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


$background: #ffffff;
$foreground: #09090b;
$card: #ffffff;
$card-foreground: #09090b;
$primary: #18181b;
$primary-foreground: #fafafa;
$secondary: #f4f4f5;
$secondary-foreground: #18181b;
$muted: #f4f4f5;
$muted-foreground: #71717a;
$border: #E4E4E7;
$input: #e4e4e7;
$ring: #18181b;
$radius: 0.5rem;
$brand: #c3002f;
$destructive: red;

$screen-s: 640px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;

@mixin font($font-family, $font-file, $weight) {
  @font-face {
    font-family: $font-family;
    src: url('assets/fonts/' + $font-file + '.woff2') format('woff2');
    font-weight: $weight;
  }
}

@mixin tablet {
  @media only screen and (min-width: $screen-m) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $screen-l) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $screen-xl) {
    @content;
  }
}

* {
  @include font('Geist', '/geist/Geist-Black', 800);
  @include font('Geist', '/geist/Geist-Bold', 700);
  @include font('Geist', '/geist/Geist-Light', 300);
  @include font('Geist', '/geist/Geist-Medium', 500);
  @include font('Geist', '/geist/Geist-Regular', 400);
  @include font('Geist', '/geist/Geist-SemiBold', 600);
  @include font('Geist', '/geist/Geist-Thin', 200);

  font-family: Geist, sans-serif;

  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;


}


@mixin shadow($level: default) {
  $shadows: (
    sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
    default: (0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1)),
    md: (0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1)),
    lg: (0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1))
  );

  box-shadow: map.get($shadows, $level);
}



@mixin container() {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @include tablet {
      max-width: $screen-m;
    }

    @include large {
      max-width: $screen-l;
    }

    @include desktop {
      max-width: $screen-xl;
    }
}
