<ng-container *ngIf="product !== null">
  <div class="product-page--image-container">
    <img
      [ngSrc]="product.images[0].src"
      alt="product"
      fill
    />
  </div>

  <div class="product-page--details">
    <h1 class="product-page--title">
      <span *ngFor="let part of product.title?.split(' - ')">
        {{part}}
      </span>
    </h1>

    <div class="product-page--price">€{{product.variants[0].price}}</div>
    <ui-separator/>

    <feature-product-form
      [title]="product.title"
      [variants]="product.variants"
    />
    <ui-separator/>

    <div class="product-page--description" [innerHTML]="product!.body_html"></div>
  </div>

</ng-container>
