@import '../../../styles';

:host {
  flex: 1 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  width: 100%;

  @include container;
  padding: 32px 0;

  @include large {
    display: grid;
    grid-template-columns: auto min-content 384px;
    grid-auto-rows: auto 1fr;
    gap: 64px 32px;

    padding: 32px;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  width: 100%;
}

.page-heading {
  text-align: center;

  @include large {
    grid-column: 1 / span 3;
  }
}

.cart-overview-layout {
  order: 3;
}

.empty-cart-container {
  grid-column: 1 / span 3;

  display: flex;
  flex-direction: column;
  gap: 16px;

padding: 128px 0;

  color: $muted-foreground;
}

.empty-cart-placeholder {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

}
