@import 'shop/src/styles';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-list--header {
  display: none;

  & > :first-child {
    flex: 2 2;
  }

  & > :nth-child(2) {
    text-align: center;
  }

  & > :last-child {
    text-align: right;
  }


  @include large {
    display: flex;
    gap: 32px;
  }
}

.cart-list--header h2 {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 16px;


}

.cart-list--body {

  display: flex;
  flex-direction: column;


  & > * {
    border-bottom: 1px solid $border;
  }

  & :last-child {
    border: none;
  }
}
