@import '../../../styles.scss';

:host {
  width: 100%;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-auto-rows: auto;
  gap: 8px;
  border: none;
  appearance: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input {
  appearance: none;
}

.btn-label:focus-visible     {
  outline: none;
  box-shadow: 0 0 0 2px $ring;
}

.btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  background: $secondary;

  font-size: 1.25rem;
  border-radius: $radius;
  box-sizing: border-box;

  cursor: pointer;
}

.btn-label-selected {
  background: $primary;
  color: $primary-foreground;


}
