@import '../../../styles';

.cart-list-item--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;

  h2, h3 {
    margin: 0;
    padding: 0;
  }

  :last-child {
    align-items: flex-end;
  }
}



.cart-list-item--column {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 32px 0;

  :last-child {
    align-items: flex-start;
  }
}

.cart-list-item--image-container {
  padding: 0;
}

.btn {
  width: 100% !important;
}

.sub-row-container {
  display: flex;
  flex-direction: column;
  gap: 8px;


}
