<div class="cart-list-item--container">
  <div class="cart-list-item--column cart-list-item--image-container">
    <img [src]="src" width="300" height="300"/>
  </div>
  <div class="cart-list-item--column">
    <div class="sub-row-container">
      <h2>Item</h2>
      <div>{{name}}</div>
    </div>

    <div class="sub-row-container">
      <h3>Size</h3>
      <div>{{size}}</div>
    </div>

    <div class="sub-row-container">
      <h3>SKU</h3>
      <div>{{sku}}</div>
    </div>
  </div>
  <div class="cart-list-item--column">
    <h2>Quantity</h2>
    <app-cart-update-form [quantity]="quantity"/>
    <app-button size="small" label="Remove Item" variant="secondary"/>
  </div>

  <div class="cart-list-item--column">
    <h2>Subtotal</h2>
    <span>€1305.00</span>
  </div>

</div>
