@import '../../../../styles';

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border: none;
  border-radius: $radius;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  appearance: none;
  cursor: pointer;
}

.btn-primary {
  background: $primary;
  color: $primary-foreground;
  border-width: 2px solid $border;
  user-select: none;

  &:hover {
    background: mix($primary, white, $weight: 90%);
  }
}

.btn-secondary {
  background: $secondary;
  color: $secondary-foreground;

  &:hover {
    background: mix($secondary, white, $weight: 80%);
  }
}

.btn-small {
  padding: 0.25rem;
  border-radius: $radius;
}

.btn-medium {
  height: 40px;
  padding: 8px 16px;
}

.btn-large {
  padding: 1rem;
  border-radius: 0.75rem;
  border-radius: $radius;
}
