@import 'shop/src/styles';

.container {
  span {
    font-size: 1.125rem;
    font-weight: 600;
  }

  p {
    font-size: 0.875rem;
    color: $muted-foreground;
  }
}

.subtotal-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  gap: 8px 16px;

  align-items: center;

  & >  p {
    font-size: 0.875rem;
    color: $muted-foreground;
  }
}

.cart--subtotal {
  grid-row: span 2;
}
